@charset "utf-8";
/* CSS Document */

/* FRANCISCAN HEALTH */
/* This CSS is to override  */
/* the provided CSS within */
/* SuccessFactors' Career Site Builder */

@font-face {
	font-family: 'notused';
	src: url('notused.eot');
	src: url('notused.eot?#iefix') format('embedded-opentype'), url('notused.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MrEaves';
	src: url('https://www.franciscanhealth.org/sites/all/themes/franciscan/assets/fonts/MrEavesSanOT-Regular.woff') format('woff'), url('https://www.franciscanhealth.org/sites/all/themes/franciscan/assets/fonts/MrEavesSanOT-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	-webkit-margin-font: antialias;
}
@font-face {
	font-family: 'MrEavesBold';
	src: url('https://www.franciscanhealth.org/sites/all/themes/franciscan/assets/fonts/MrEavesSanOT-Bold.woff') format(woff), url('https://www.franciscanhealth.org/sites/all/themes/franciscan/assets/fonts/MrEavesSanOT-Bold.woff2') format(woff2);
	font-weight: normal;
	font-style: normal;
	-webkit-margin-font: antialias;
}
@font-face {
	font-family: 'MrEavesHeavy';
	src: url('https://www.franciscanhealth.org/sites/all/themes/franciscan/assets/fonts/MrEavesSanOT-Heavy.woff') format('woff2'), url('https://www.franciscanhealth.org/sites/all/themes/franciscan/assets/fonts/MrEavesSanOT-Heavy.woff2') format('woff');
}
outershell {
	font-family: "MrEaves"!important;
}

h1 {
	font-family: "MrEaves" !important;
	font-size: 32px ;
}
h2 {
	font-family: "MrEaves" !important;
	font-size: 21px !important;
	font-weight: Bold !important;
}
h3 {
	font-family: "MrEaves" !important;
	font-size: 15px !important;
	text-transform: Uppercase !important;
	font-weight: Bold !important;
}
h4 {
	font-family: 'PT Serif', serif !important;
	font-style: normal !important;
	color: #000000 !important;
	font-size: 16px !important;
	text-align: left !important;
	margin-left: 350px !important;
	text-shadow: 0em 0em 0.75em #000000 !important;
	line-height: 1.5em !important;
	margin-bottom: 20px !important;
	-webkit-font-smoothing: antialiased !important;
}
h5 {
	font-size: 34px !important;
	font-family: "MrEaves";
	margin-bottom: 20px !important;
	margin-top: 10px !important;
	text-shadow: 0em 0em 0.75em #000000 !important;
	line-height: 15px !important;
}
h6 {
	font-size: 34px !important;
	font-family: "MrEaves" !important;
	text-align: left;
	margin-left: 350px !important;
	margin-bottom: 5px;
	text-shadow: 0em 0em 0.75em #000000 !important;
	line-height: 15px !important;
}
.menu.mobile .nav > .dropdown {
	padding-top:7px !important;
	float:left !important;
}

.a.dropdown-toggle {
	margin-left:0px !important;
	margin-right:0px !important;
}
/* FONT AWESOME SIZE */
.fa {
	font-size:20px;
}
#header .header-bottom .container .search-btn {
	margin-right:0px !important;
}

.headersubmenu {
	font-family: "MrEaves" !important;
	font-weight:bold !important;
	font-size:16px !important;
	line-height:15.4px !important;
	text-transform:uppercase !important;
	letter-spacing:0.42px !important;
	text-align:justify !important;
	-webkit-font-smoothing:antialiased !important;
}
/* NAV BAR PAGE TABS */
.headersubmenu, .headersubmenu a{
	font-family: "MrEaves" !important;
	font-size:14px;
	line-height:14.4px !important;
	text-transform:uppercase !important;
	letter-spacing:0.42px !important;
	text-align:justify !important;
	-webkit-font-smoothing:antialiased !important;
}
/* NAV BAR - RIGHT SIDE */
.profileWidget {
	background-color:rgb(80, 145, 205);
	background-origin:padding-box;
	border-bottom-color:#FFFFFF;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-style:none;
	border-bottom-width:0px;
	border-image-outset:0px;
	border-image-repeat:stretch;
	border-image-slice:100%;
	border-image-width:1;
	border-left-color:#FFFFFF;
	border-left-style:none;
	border-left-width:0px;
	border-right-color:rgb(255,255,255);
	border-right-style:none;
	border-right-width:0px;
	border-top-color:rgb(255,255,255);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-top-style:none;
	border-top-width:0px;
	box-sizing:border-box;
	color:rgb(255,255,255);
	display:inline-block;
	font-family:MrEaves;
	font-size:14px;
	font-stretch:normal;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:bold;
	height:28px;
	letter-spacing:0.42px;
	line-height:15.4px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:5px !important;
	padding-bottom:0px;
	padding-left:14px;
	padding-right:14px;
	padding-top:7px;
	position:relative;
	text-align:justify;
	text-decoration:none;
	text-transform:uppercase;
	top:-1.5px;
	vertical-align:middle;
	-webkit-appearance:none;
	-webkit-font-smoothing:antialiased;
	inline-box-align:middle;
}
/* UNVISITED LINK */
a:link {
    color: rgb(241,93,34);
	font-family:"MrEaves" !important;
	text-transform:uppercase !important;
	font-weight:bold ;
	font-size:14px;
}

/* VISTED LINK */
a:visited {
     color: rgb(241,93,34);
	font-family:"MrEaves" !important;
	text-transform:uppercase !important;
	font-weight:bold;
	font-size:14px;
}

/* MOUSEOVER LINK */
a:hover {
    color: rgb(241,93,34) ;
	font-family:"MrEaves" !important;
	text-transform:uppercase !important;
	font-weight:bold;
	font-size:14px;
}

/* SELECTED LINK */
a:active {
    color: rgb(241,93,34);
	font-family:"MrEaves" !important;
	text-transform:uppercase !important;
	font-weight:bold;
	font-size:14px;
}

/* SMALL BUTTON */

.btn-small{
	border-bottom-color:#FFFFFF;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-style:none;
	border-bottom-width:0px;
	border-image-outset:0px;
	border-image-repeat:stretch;
	border-image-slice:100%;
	border-image-width:1;
	border-left-color:#FFFFFF;
	border-left-style:none;
	border-left-width:0px;
	border-right-color:rgb(255,255,255);
	border-right-style:none;
	border-right-width:0px;
	border-top-color:rgb(255,255,255);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	bnorder-top-style:none;
	border-top-width:0px;
	box-sizing:border-box;
	color:rgb(255,255,255);
	display:inline-block;
	font-family:MrEaves;
	font-size:14px;
	font-stretch:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:bold;
	letter-spacing:0.42px;
	line-height:15.4px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-bottom:0px;
	padding-left:14px;
	padding-right:14px;
	padding-top:0px;
	position:relative;
	text-align:justify;
	text-decoration:none;
	text-transform:uppercase !important;
	vertical-align:middle;
	-webkit-appearance:none;
	-webkit-font-smoothing:antialiased;
	inline-box-align:middle;
	top:-3px;
	cursor:default !important;
}
/* DEFAULT BUTTON */
.btn {
	border:transparent !important;
	font-family:"MrEaves" !important;
	text-transform:uppercase !important;
	font-weight:bold;
	font-size:14px;
	letter-spacing:0.42px !important;
	cursor:default !important;
}

/* LARGE BUTTON FOR SEARCH BOX */
.btn-lg, .btn-group-lg>.btn {
	font-size:14px !important
}
.label {
	font-family:"MrEaves" !important;
	text-transform:uppercase !important;
	font-size:14px;
	letter-spacing:0.42px !important;
}

/*/*//*/* START OF PROFILE PAGE CUSTOMIZATIONS *//*/*/

/* PROFILE PAGE - ADD NEW JOB ALERT BUTTON */
#agent-editor-add-button {
	font-family:"MrEaves" !important;
	text-transform:uppercase !important;
	font-weight:bold;
	font-size:14px;
	letter-spacing:0.42px !important;
	cursor:default !important;
}
/*SPACING BETWEEN FIELDS FOR EMAIL, FIRST & LAST NAME */
#profile-user-email {
	margin-bottom:10px !important;
}
#profile-user-firstname {
	margin-bottom:10px !important
}

/* INFORMATION BOXES */
.well {
	margin-bottom:10px !important;

}
/* GENERAL INFORMATION BOX */
#profile-information {
	background-color: #F0F3F0;
}
#profileShell h3 {
	font-size:18px !important;
}

/* JOB ALERTS (AGENTS) BOX */
#agentsWrapper {
	background-color:#F0F3F0;
}
/* EMAIL SUBSCRIPTIONS BOX */
#profile-emailSubscriptions {
	background-color:#F0F3F0;
}
/* LANGUAGE BOX */
#profile-locale {
	background-color:#F0F3F0;
}
/* SAVED JOBS BOX */
#profile-saved-jobs {
	background-color: #F0F3F0;
}
.threeimagecaption .column .top h1 {
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
	letter-spacing:0.42px;
	line-height:25px;
	font-weight:bold !important;
}
/* ALERT WHEN NO JOBS SHOW */
.alert h4 {
	margin-left:0px !important;
	margin-top:15px !important;
	text-shadow:none !important;
	-webkit-font-smoothing:None !important;
	font-size:0px !important;
}

/* TEXT ON APPLICATION LOGIN PAGE */
#page_content .modal h5 {
	font-family: "MrEaves" !important;
	font-size: 18px !important;
	text-transform: Uppercase !important;
	font-weight: Bold !important;
	text-shadow:none !important;
}

/* FEATURED CATAGORIES LIST ON MOBILE HOME PAGE */
.featuredjobs .row div {
	border-radius:15px;
	background:#005695;
	padding:5px;
	margin-left:2%;
	margin-right:2%;
}
